@charset 'UTF-8';
/* Ресет */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/* Шрифты */
@font-face
{
    font-family: 'Mazzard';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/MazzardMBold.eot');
    src: url('../fonts/MazzardMBold.eot') format('embedded-opentype'), url('../fonts/MazzardMBold.woff2') format('woff2'), url('../fonts/MazzardMBold.woff') format('woff'), url('../fonts/MazzardMBold.ttf') format('truetype'), url('../fonts/MazzardMBold.svg#MazzardMBold') format('svg');
}
@font-face
{
    font-family: 'GothamPro';
    font-weight: 400;
    font-style: normal;

    src: local('GothamPro Regular'), local('GothamPro-Regular'), url('../fonts/GothamPro.woff2') format('woff2');
}
@font-face
{
    font-family: 'GothamPro';
    font-weight: 300;
    font-style: normal;

    src: local('GothamPro Light'), local('GothamPro-Light'), url('../fonts/GothamPro-Light.woff2') format('woff2');
}
@font-face
{
    font-family: 'GothamPro';
    font-weight: 500;
    font-style: normal;

    src: local('GothamPro Medium'), local('GothamPro-Medium'), url('../fonts/GothamPro-Medium.woff2') format('woff2');
}
@font-face
{
    font-family: 'GothamPro';
    font-weight: 600;
    font-style: normal;

    src: local('GothamPro Bold'), local('GothamPro-Bold'), url('../fonts/GothamPro-Bold.woff2') format('woff2');
}
/* Глобальное */
.wrapper
{
    min-height: 100%;
}

.container
{
    max-width: 1253px;
    margin: 0 auto;
    padding: 0 15px;
}

*
{
    font-family: 'GothamPro';
}

.globalTitle
{
    font-family: 'GothamPro';
    font-size: 32px;
    font-weight: 700;

    color: #0d2938;
}

body.noScroll
{
    overflow: hidden;
}

.titleLine
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

input,
textarea
{
    padding: 18px 25px;

    color: #767676;
    border: none;
    border-radius: 7px;
    outline: none;
    background: #f4f4f4;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    color: #767676;
}
input::-moz-placeholder,
textarea::-moz-placeholder
{
    color: #767676;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder
{
    color: #767676;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder
{
    color: #767676;
}
input::placeholder,
textarea::placeholder
{
    color: #767676;
}

.back
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: black;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.back__text
{
    font-style: italic;

    margin-left: 15px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.back:hover .back__text
{
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}

/* UI компоненты */
/* Модальное окно */
.modal
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-transition: .7s ease all;
         -o-transition: .7s ease all;
            transition: .7s ease all;
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    pointer-events: none;

    opacity: 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.modal__inner
{
    min-width: 532px;
    max-width: none;
    min-height: 495px;
    max-height: none;
    padding: 47px 76px 33px 81px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
    pointer-events: none;

    border-radius: 15px;
    background: white;
}
.modal__background
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
    pointer-events: none;

    opacity: 0;
    background: rgba(0, 0, 0, .5);
}
.modal__background.active
{
    pointer-events: all;

    opacity: 1;
}
.modal.active
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    pointer-events: all;

    opacity: 1;
}
.modal.active .modal__inner
{
    pointer-events: all;
}
.modal__inner.center
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.modal__title
{
    font-size: 24px;
    font-weight: 500;

    margin-bottom: 12px;

    text-align: center;
}
.modal__title.bigMargin
{
    margin-bottom: 46px;
}
.modal__description
{
    font-size: 14px;

    margin-bottom: 20px;

    text-align: center;
}
.modal__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 330px;
    margin: 0 auto;
    margin-bottom: 34px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.modal__form *
{
    margin-bottom: 8px;
}
.modal__form:last-child
{
    margin-bottom: 0;
}
.modal__input,
.modal__textarea,
.modal__button
{
    width: 100%;
}
.modal__textarea
{
    height: 92px;
    max-height: 200px;

    resize: vertical;
}
.modal__button
{
    font-size: 18px;
    font-weight: 700;

    padding: 17px 45px;
}
.modal__subdescription
{
    font-size: 14px;

    width: 444px;

    text-align: center;

    color: black;
}
.modal a
{
    position: relative;

    text-decoration: underline;

    color: #9f9f9f;
}

/* Кнопки */
.button
{
    cursor: pointer;
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;

    color: white;
    border: none;
    border-radius: 8px;
    background: #00b7c3;
}
.button:hover
{
    background: #008799;
}

/* Анимации */
@-webkit-keyframes lineAnim
{
    from
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25%
    {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
    }
    50%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    75%
    {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
    }
    to
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}
@keyframes lineAnim
{
    from
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25%
    {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
    }
    50%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    75%
    {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
    }
    to
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}
/* Хедер */
.header
{
    background: #f9f9f9;
}
.header__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 36px 236px 33px 196px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: 60px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__list .header__item:not(:last-of-type)
{
    margin-right: 42px;
}
.header__link
{
    font-size: 14px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
    text-transform: uppercase;

    color: #3f3f3f;
}
.header__link:hover
{
    color: black;
}
.header__link-line
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    cursor: pointer;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__link-line.reverse svg
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.header__link-line.reverse:hover svg
{
    -webkit-animation: none;
            animation: none;
}
.header__link-line svg
{
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.header__link-line a
{
    margin-right: 10px;
}
.header__link-line:hover svg
{
    -webkit-animation: lineAnim .35s;
            animation: lineAnim .35s;
}
.header__right
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__phone
{
    margin-right: 58px;

    color: #3f3f3f;
}
.header__button
{
    font-size: 18px;

    margin-right: 54px;
    padding: 17px 35px;

    text-transform: uppercase;
}
.header__social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__social-link path
{
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.header__social-link:hover path
{
    fill: #00b7c3;
}
.header__social-link:not(:last-of-type)
{
    margin-right: 17px;
}
.header__menu
{
    position: absolute;
    z-index: 1;

    display: none;
    overflow-y: scroll;

    width: 100%;
    height: 100%;
    padding: 70px 0 183px;

    background: #f9f9f9;
}
.header__menu::-webkit-scrollbar
{
    width: 4px;
}
.header__menu::-webkit-scrollbar-thumb
{
    background: #00b7c3;
}
.header__menu::-webkit-scrollbar-track
{
    background-color: #f2f2f2;
}
.header__mobileMenu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100vw;
    height: 100vh;

    background: #f9f9f9;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.header__mobileMenu-wrapper
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    margin-top: 112px;

    background: #f9f9f9;
}
.header__mobileMenu-list
{
    margin-top: 50px;
    margin-bottom: 100px;
}
.header__mobileMenu-item
{
    text-align: center;
}
.header__mobileMenu-item:not(:last-of-type)
{
    margin-bottom: 40px;
}
.header__mobileMenu-link
{
    font-size: 16px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
    text-transform: uppercase;

    color: #3f3f3f;
}
.header__mobileMenu-link:hover
{
    color: black;
}
.header__mobileMenu-button
{
    font-size: 18px;

    padding: 17px 30px;

    text-transform: uppercase;
}

.menu__title
{
    margin-bottom: 35px;
}

/* Оснвоное */
/*---- Начальная страница -----*/
/* Начальный блок со слайдером */
/* Сам блок и стрелки */
.sliderMain
{
    background: #f9f9f9;
}
.sliderMain__inner
{
    position: relative;

    padding: 150px 225px 75px 169px;
}
.sliderMain__arrow
{
    position: absolute;
    top: 50%;

    padding: 16px 18px 15px 18px;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 50%;
    background: rgba(211, 211, 211, .6);
}
.sliderMain__leftArrow
{
    left: 92px;
}
.sliderMain__rightArrow
{
    right: 124px;
}
.sliderMain .slick-dots
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 74px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sliderMain .slick-dots li:not(:last-of-type)
{
    margin-right: 10px;
}
.sliderMain .slick-dots li.slick-active .slider__dots
{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);

    background: black;
}
.sliderMain .slick-dots li.slick-active + li .slider__dots
{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);

    background: rgba(0, 0, 0, .7);
}

/* Настройки внутри самого слайдера */
.slider__slide
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0 126px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.slider__dots
{
    width: 7px;
    height: 7px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;

    border-radius: 50%;
    background: rgba(0, 0, 0, .35);
}

/* Слайд */
.slide__title
{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

    max-width: 745px;
    margin-bottom: 25px;

    color: #0d2938;
}
.slide__left
{
    margin-bottom: 23px;
}
.slide__descirption
{
    font-weight: 300;

    margin-bottom: 69px;

    color: #a6a6a6;
}
.slide__button
{
    font-size: 18px;
    font-weight: 700;

    padding: 20px 90px;
}
.slide__img
{
    width: 414px;
    height: 300px;

    -o-object-fit: scale-down;
       object-fit: scale-down;
}

/* Услуги */
.services
{
    padding-bottom: 135px;

    background: #f9f9f9;
}
.services__showAll
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.services__showAll:hover svg
{
    -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
}
.services__showAll-text
{
    font-size: 14px;

    margin-right: 12px;

    text-transform: uppercase;

    color: #3f3f3f;
}
.services__showAll-arrow svg
{
    -webkit-transition: .3s ease-in all;
         -o-transition: .3s ease-in all;
            transition: .3s ease-in all;
}
.services__titleLine
{
    margin-bottom: 40px;
}
.services__box
{
    display: grid;

    grid-template-columns: repeat(3, 392px);
    grid-template-rows: none;
    gap: 24px;
    -ms-flex-line-pack: center;
    align-content: center;
}
.services__service
{
    padding: 33px 45px 37px 54px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;

    border-radius: 12px;
    background: white;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.services__service .car
{
    height: 64px;
}
.services__service > svg
{
    margin-bottom: 29px;
}
.services__service > svg *
{
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.services__service .service__line svg
{
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.services__service:hover
{
    -webkit-box-shadow: 0 1px 25px rgba(1, 4, 5, .062);
            box-shadow: 0 1px 25px rgba(1, 4, 5, .062);
}
.services__service:hover > svg path
{
    fill: rgba(0, 0, 0, .5);
}
.services__service:hover > svg rect
{
    stroke: rgba(0, 0, 0, .4);
}
.services__service:hover .service__line svg
{
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}

.service__line
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 20px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.service__line svg
{
    margin-left: 33px;
}
.service__title
{
    font-size: 24px;
    font-weight: 600;

    color: black;
}
.service__description
{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    color: #a6a6a6;
}

/* Партнеры */
.partners
{
    padding-bottom: 135px;

    background: #f9f9f9;
}
.partners .js-marquee
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.partners__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.partners img:not(:last-of-type)
{
    margin-right: 35px;
}

/* Баннеры */
/* В целом блок */
.banners
{
    padding-bottom: 101px;

    background: #f9f9f9;
}
.banners__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.banners__bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.banners__right
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    margin-left: 39px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

/* Отдельный баннер */
.banner
{
    position: relative;

    padding: 32px 0 0 72px;

    border-radius: 12px;
    background: white;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.banner__line
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 33px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.banner__right
{
    position: absolute;
    top: -64px;
    right: 90px;
}
.banner__big
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;
    padding-top: 57px;
    padding-left: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.banner__mini
{
    padding-top: 20px;
}
.banner__mini.firstBanner
{
    min-height: 228px;
    margin-bottom: 33px;
}
.banner__mini.secondBanner
{
    min-height: 307px;
}
.banner__title
{
    font-size: 24px;
    font-weight: 500;
}
.banner__title.big
{
    font-size: 28px;

    margin-bottom: 26px;

    text-transform: uppercase;
}
.banner__description
{
    line-height: 22px;

    max-width: 506px;
    margin-top: 18px;
    margin-bottom: 37px;

    color: #656f7c;
}
.banner__description.long
{
    max-width: 717px;
}
.banner__top.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.banner__top.big
{
    position: relative;

    height: 35%;
    padding-left: 72px;
}
.banner__bottom.big
{
    position: relative;

    height: 65%;
}
.banner__img-wrapper
{
    margin-right: 41px;
    padding: 16px 20px;

    border-radius: 19px;
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.banner__background
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 0 0 12px 12px;

    -o-object-fit: cover;
       object-fit: cover;
}
.banner__logo
{
    position: absolute;
    z-index: 2;
    top: 26px;
    left: 74px;
}
.banner__topEffect
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 40%;

    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background:    linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

/* Вопросы */
/* Весь блок с вопросами */
.questions
{
    padding: 68px 0 86px;
}
.questions__top
{
    position: relative;
}
.questions__bottom
{
    margin-top: 47px;
}
.questions__content
{
    margin-top: 60px;
}
.questions__arrow
{
    position: absolute;
    top: 50%;

    padding: 15px 17px;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 50%;
    background: rgba(211, 211, 211, .6);
}
.questions__leftArrow
{
    left: 0;
}
.questions__rightArrow
{
    right: 0;
}
.questions__buttons
{
    width: 90%;
    margin: 0 auto;
}
.questions__button
{
    font-size: 22px;
    font-weight: 500;

    padding: 27px 72px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;

    color: black;
    border-radius: 39px;
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.questions__button.select
{
    cursor: default;

    color: white;
    background: rgba(0, 183, 195, .83);
}
.questions__button:not(:last-of-type)
{
    margin-right: 17px;
}
.questions__steps
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.questions__wrapper
{
    display: none;
}

/* Действия */
.question__step
{
    position: relative;

    width: 32%;
    min-height: 475px;
    padding: 45px 67px 0 42px;

    border-radius: 12px;
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.question__step-title
{
    font-size: 19px;
    font-weight: 500;

    margin-bottom: 23px;

    color: black;
}
.question__step-description
{
    line-height: 22px;

    margin-bottom: 55px;

    color: #656f7c;
}
.question__step a
{
    color: #00b7c3;
}
.question__subdescription
{
    line-height: 22px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.question__linkInc
{
    margin-right: 13px;
}
.question__number
{
    font-size: 120px;

    position: absolute;
    right: 35px;
    bottom: -22px;

    color: #dbdbdb;
}

/* Отзывы */
/* Блок со всеми отзовами */
.reviews
{
    padding: 180px 0 48px;

    background: #f9f9f9;
}
.reviews__top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.reviews__arrows
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.reviews__arrow
{
    padding: 15px 18px;

    cursor: pointer;

    border-radius: 50%;
    background: rgba(211, 211, 211, .6);
}
.reviews__leftArrow
{
    margin-right: 18px;
}
.reviews__bottom
{
    margin-top: 38px;
}

/* Отдельный блок с отзывом */
.review__box
{
    padding: 30px 28px 12px 29px;

    border-radius: 12px;
    background: #fff;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.review__box:not(:last-of-type)
{
    margin-right: 17px;
}
.review__line
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 19px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.review__title
{
    font-weight: 500;

    margin-right: 20px;
}
.review__star
{
    margin-right: 2px;
}
.review__number
{
    font-size: 14px;

    margin-left: 3px;

    color: #474747;
}
.review__description
{
    font-size: 13px;
    line-height: 17px;

    margin-bottom: 30px;

    color: #474747;
}
.review__city
{
    font-size: 12px;

    color: #bababa;
}

/* FAQ */
.faq
{
    padding-bottom: 105px;

    background: #f9f9f9;
}
.faq__inner
{
    padding: 52px 69px 60px 60px;

    border-radius: 12px;
    background: #fff;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.faq__title
{
    margin-bottom: 54px;
}
.faq__description
{
    font-weight: 300;
    line-height: 22px;
}
.faq__top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq__miniTitle
{
    font-size: 20px;
    font-weight: 700;

    color: #0d2938;
}
.faq__close
{
    cursor: pointer;
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.faq__close.select
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.faq__bottom
{
    display: none;

    margin-top: 20px;
}
.faq__line
{
    width: 100%;
    margin-top: 30px;

    border: .5px solid #eee;
}
.faq__question:not(:last-of-type)
{
    margin-bottom: 32px;
}

/*---- Страница с продуктом ----*/
/* Верхний блок с самим продуктом */
.product
{
    padding: 60px 0 109px 0;

    background: #f9f9f9;
}
.product__back
{
    margin-bottom: 34px;
}
.product__product
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product__img
{
    width: 392px;
    height: 352px;

    border-radius: 12px;

    -o-object-fit: cover;
       object-fit: cover;
}
.product__right
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: 62px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.product__description
{
    font-size: 18px;
    line-height: 25px;

    color: #656f7c;
}
.product__button
{
    font-size: 18px;

    padding: 17px 42px;

    text-transform: uppercase;

    -ms-flex-item-align: start;
    align-self: flex-start;
}

/* Документы при оформлении страховки */
.document
{
    padding: 68px 0 95px;
}
.document__title
{
    margin-bottom: 90px;
}
.document__imgs,
.document__texts
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.document__imgs
{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.document__img-wrapper,
.document__text-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 25%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.document__img
{
    height: 240px;

    -o-object-fit: scale-down;
       object-fit: scale-down;
}
.document__text
{
    font-size: 20px;
    font-weight: 700;

    margin-top: 20px;

    text-align: center;

    color: #0d2938;
}

/* Список */
.price
{
    padding: 87px 0 108px;

    background: #f9f9f9;
}
.price__title
{
    margin-bottom: 45px;
}
.price__content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.price__list
{
    margin-left: 50px;
}
.price__list:not(:last-of-type)
{
    margin-right: 150px;
}
.price__item
{
    font-size: 20px;

    position: relative;

    color: #656f7c;
}
.price__item::before
{
    position: absolute;
    top: 3px;
    left: -50px;

    width: 21px;
    height: 21px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-radius: 6px;
    background: #00b7c3;
}
.price__item:not(:last-of-type)
{
    margin-bottom: 20px;
}

/*---- Статьи ----*/
/* Статья */
.article
{
    padding: 100px 0;

    background: #f9f9f9;
}
.article__title
{
    margin-bottom: 40px;

    color: black;
}
.article__description
{
    font-size: 13px;
    font-style: italic;
    line-height: 24px;
}
.article__back
{
    margin-bottom: 34px;
}

/* Футер */
.footer
{
    background: white;
}
.footer__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 132px 363px 122px 347px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer__logo
{
    margin-bottom: 23px;
}
.footer__link-grey
{
    margin-bottom: 10px;

    color: #cdcdcd;
}
.footer__column
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.footer__column.catalogColumn
{
    max-width: 230px;
}
.footer__column-title
{
    margin-bottom: 25px;

    color: #959595;
}
.footer__column-title.littleMargin
{
    margin-bottom: 13px;
}
.footer__column-item
{
    line-height: 30px;
}
.footer__column-item:not(:last-of-type)
{
    margin-bottom: 10px;
}
.footer__column-link
{
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;

    color: #3f3f3f;
}
.footer__column-link.big
{
    font-size: 25px;
}
.footer__column-link:hover
{
    color: black;
}
.footer__column-box:not(:last-of-type)
{
    margin-bottom: 32px;
}
.footer__column-social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer__social-link path
{
    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
}
.footer__social-link:hover path
{
    fill: #00b7c3;
}
.footer__social-link:not(:last-of-type)
{
    margin-right: 32px;
}

/* Адаптация */
/* ПК */
@media (max-width: 1600px)
{
    .header__inner
    {
        padding: 36px 80px 33px 89px;
    }
    .header__menu
    {
        padding: 20px 0 183px;
    }
    .slider__slide
    {
        margin: 0 20px;
    }
    .ourTeam__inner
    {
        padding: 0 146px 0 177px;
    }
    .footer__inner
    {
        padding: 132px 123px 122px 190px;
    }
}
@media (max-width: 1440px)
{
    .header__list .header__item:not(:last-of-type)
    {
        margin-right: 31px;
    }
    .ourTeam__inner
    {
        padding: 0 146px 0 93px;
    }
}
@media (max-width: 1366px)
{
    .header__inner
    {
        padding: 36px 45px 33px 68px;
    }
    .header__link
    {
        font-size: 12px;
    }
    .header__phone
    {
        margin-right: 25px;
    }
}
@media (max-width: 1280px)
{
    .header__button
    {
        font-size: 14px;

        padding: 15px 33px;
    }
    .footer__inner
    {
        padding: 89px 91px 78px 83px;
    }
    .slide__img
    {
        width: 383px;
        height: 273px;
    }
    .slide__title
    {
        font-size: 24px;
        line-height: 25px;
    }
    .sliderMain__inner
    {
        padding: 34px 250px 75px 169px;
    }
    .sliderMain__leftArrow,
    .sliderMain__rightArrow
    {
        top: 151px;

        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}
/* Мобильная */
@media (min-width: 961px)
{
    .header__socialMobile
    {
        display: none;
    }
    .header__mobileMenu-wrapper
    {
        display: none;
    }
    .header__mobileMenu-btn
    {
        display: none;
    }
    .document__mobileColumns
    {
        display: none;
    }
}
@media (max-width: 960px)
{
    .globalTitle
    {
        font-size: 24px;
    }
    /* Адаптивность */
    .header__inner
    {
        padding: 31px 33px 31px 29px;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header__right
    {
        display: none !important;
    }
    .header__socialMobile
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .header__socialMobile-link path
    {
        -webkit-transition: .3s all;
             -o-transition: .3s all;
                transition: .3s all;
    }
    .header__socialMobile-link:hover path
    {
        fill: #00b7c3;
    }
    .header__socialMobile-link:not(:last-of-type)
    {
        margin-right: 17px;
    }
    .header__menu::-webkit-scrollbar
    {
        width: 0;
    }
    .header__menu .container
    {
        padding: 0 45px;
    }
    .header__mobileMenu-btn
    {
        position: relative;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header__mobileMenu-btn.reverse span:first-of-type
    {
        -webkit-transform: translate(5px, 8px) rotate(-45deg);
            -ms-transform: translate(5px, 8px) rotate(-45deg);
                transform: translate(5px, 8px) rotate(-45deg);
    }
    .header__mobileMenu-btn.reverse span:nth-of-type(2n)
    {
        -webkit-transform: translate(5px, 0px) rotate(45deg);
            -ms-transform: translate(5px, 0px) rotate(45deg);
                transform: translate(5px, 0px) rotate(45deg);
    }
    .header__mobileMenu-btn.reverse span:last-of-type
    {
        position: absolute;
        bottom: 0;

        opacity: 0;
    }
    .header__mobileMenu-btn span
    {
        width: 34px;
        height: 1px;

        -webkit-transition: .3s all;
             -o-transition: .3s all;
                transition: .3s all;

        background: black;
    }
    .header__mobileMenu-btn span:nth-of-type(2n)
    {
        margin: 7px 0;
    }
    .header__mobileMenu-wrapper
    {
        display: none;
    }
    /* Главная страница */
    .sliderMain__inner
    {
        padding: 15px 32px 50px 40px;
    }
    .sliderMain__arrow
    {
        display: none !important;
    }
    .sliderMain .slick-dots
    {
        margin-top: 27px;
    }
    .slider__slide
    {
            flex-direction: column-reverse;

        margin: 0;
        padding: 0 10px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .slide__right
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .slide__img
    {
        width: 100%;
        height: auto;
    }
    .slide__title
    {
        font-size: 24px;
        line-height: 30px;

        margin-bottom: 17px;
    }
    .slide__descirption
    {
        font-size: 16px;
        line-height: 22px;

        margin-bottom: 40px;
    }
    .slide__button
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 100%;
        padding: 20px 0;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .slide__left
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .services__inner
    {
        padding: 0 25px;
    }
    .services__box
    {
        display: grid;

        grid-template-columns: repeat(1, 100%);
        grid-template-rows: none;
        gap: 13px;
    }
    .services__box.block .services__service:nth-of-type(4n),
    .services__box.block .services__service:nth-of-type(5n),
    .services__box.block .services__service:last-of-type
    {
        display: none;
    }
    .services__service
    {
        padding: 33px 45px 28px;
    }
    .partners img
    {
        height: 82px;
    }
    .banners__inner
    {
        display: grid;

        grid-template-columns: repeat(1, 100%);
        grid-template-rows: none;
        gap: 13px;
        grid-template-rows: 397px 700px;
    }
    .banners__bottom
    {
        width: 100%;
    }
    .banners__right
    {
        display: none;
    }
    .banner
    {
        padding: 0;
    }
    .banner__mini
    {
        display: none;
    }
    .banner__line
    {
        margin-bottom: 13px;
    }
    .banner__top.big
    {
        height: 40%;
        padding: 0 20px;
        padding-left: 0;
    }
    .banner__bottom.big
    {
        height: 60%;
    }
    .banner__right
    {
        left: 50%;

        width: 230px;

        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .banner__img
    {
        width: 100%;
        height: 100%;
    }
    .banner__big
    {
        width: 100%;
    }
    .banner__outImg
    {
        width: 100%;
        height: 100%;

        -o-object-fit: cover;
           object-fit: cover;
    }
    .banner__title,
    .banner__description
    {
        text-align: center;
    }
    .banner__title
    {
        margin-top: 100px;
    }
    .banner__title.big
    {
        margin-top: 45px;
    }
    .banner__description
    {
        max-width: none;
        margin-top: 26px;
        margin-bottom: 0;
        padding: 0 30px;
    }
    .banner__description.long
    {
        max-width: none;
    }
    .banner__logo
    {
        left: 50%;

        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .questions
    {
        padding: 42px 0 32px;
    }
    .questions__title
    {
        font-size: 32px;
    }
    .questions__buttons
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 100%;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .questions__button
    {
        font-size: 20px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        padding: 30px;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .questions__button:not(:last-of-type)
    {
        margin-right: 0;
        margin-bottom: 13px;
    }
    .questions__arrow
    {
        display: none !important;
    }
    .questions__wrapper
    {
        overflow-x: scroll;
        overflow-y: hidden;

        padding-bottom: 33px;
    }
    .questions__wrapper::-webkit-scrollbar
    {
        height: 4px;
    }
    .questions__wrapper::-webkit-scrollbar-track
    {
        background-color: #f2f2f2;
    }
    .questions__wrapper::-webkit-scrollbar-thumb
    {
        border-radius: 3.5px 3.5px 0 0;
        background: #00b7c3;
    }
    .question__step
    {
        width: 323px;
        padding: 31px 25px 0 35px;
    }
    .question__step-title
    {
        font-size: 16px;
    }
    .question__step-description
    {
        font-size: 14px;
        line-height: 20px;
    }
    .question__step:not(:last-of-type)
    {
        margin-right: 19px;
    }
    .question__subdescription
    {
        font-size: 14px;
        line-height: 20px;
    }
    .reviews
    {
        padding: 25px 0 43px;
    }
    .reviews__top
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .reviews__bottom
    {
        margin-top: 23px;
    }
    .reviews__arrows
    {
        display: none;
    }
    .review__box
    {
        display: none;

        padding: 30px 44px 12px;
    }
    .review__box:not(:last-of-type)
    {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .review__description
    {
        font-size: 12px;
    }
    .faq
    {
        margin-bottom: 38px;
    }
    .faq .container
    {
        background: white;
    }
    .faq__inner
    {
        padding: 42px 20px 66px 20px;
    }
    .faq__title
    {
        text-align: center;
    }
    .faq__description
    {
        font-size: 14px;

        max-width: 306px;
    }
    /* Страница продукта */
    .product
    {
        padding: 60px 0 79px 0;
    }
    .product__product
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .product__img
    {
        width: 100%;
        height: 270px;
    }
    .product__right
    {
        margin-top: 34px;
        margin-left: 0;
    }
    .product__title
    {
        margin-bottom: 20px;
    }
    .product__description
    {
        font-size: 14px;
        line-height: 20px;

        margin-bottom: 45px;
    }
    .document__imgs,
    .document__texts
    {
        display: none;
    }
    .document__mobileColumns
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .document__mobileColumn
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .document__mobileColumn:not(:last-of-type)
    {
        margin-bottom: 89px;
    }
    .document__mobileText
    {
        font-size: 20px;
        font-weight: 700;

        margin-top: 60px;

        text-align: center;

        color: #0d2938;
    }
    .price__content
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
    .price__title
    {
        font-size: 32px;

        margin-left: 20px;
    }
    .price__list:not(:last-of-type)
    {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .price__item
    {
        font-size: 16px;
    }
    .price__item::before
    {
        top: 2px;
        left: -26px;

        width: 16px;
        height: 16px;

        content: '';

        border-radius: 6px;
    }
    /* Статьи */
    .article
    {
        padding: 34px 0 122px;
    }
    .article__title
    {
        font-size: 20px;

        color: black;
    }
    .article__description
    {
        line-height: 21px;
    }
    .footer__inner
    {
            flex-direction: column;

        padding: 100px 0 85px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer__column:not(:last-of-type)
    {
        margin-bottom: 71px;
    }
    .footer__column-title,
    .footer__column-item
    {
        text-align: center;
    }
    .footer__column-title.littleMargin
    {
        text-align: left;
    }
    .footer__logo
    {
        margin-bottom: 30px;
    }
    .footer__link-grey
    {
        margin-bottom: 17px;

        text-align: center;
    }
    .footer__copyright
    {
        font-size: 11px;

        text-align: center;
    }
}
@media (max-width: 720px)
{
    .modal__inner
    {
        min-width: auto;
        max-width: 450px;
        min-height: auto;
    }
    .modal__form
    {
        width: auto;
    }
    .modal__subdescription
    {
        width: auto;
    }
}
@media (max-width: 510px)
{
    .modal
    {
        padding: 0 20px;
    }
    .modal__inner
    {
        width: 100%;
        max-width: none;
    }
}
@media (max-width: 423px)
{
    .header__logo
    {
        width: 140px;
    }
    .header__mobileMenu-wrapper
    {
        margin-top: 99px;
    }
    .partners img
    {
        height: 61px;
    }
}
@media (max-width: 400px)
{
    .questions__button
    {
        font-size: 16px;
    }
    .modal__inner
    {
        padding: 47px 30px 33px 30px;
    }
}
/* SourceMap(Нужно для показа в каком scss файле находится стиль для тега) */

/*# sourceMappingURL=style.css.map */
